@model ContactApp.Models.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Contact Details</h4>

<table class="tablecontact table-condensed table-hover table-responsive">
<tr><td>@Html.DisplayNameFor(model => model.firstName)</td><td>@Html.DisplayFor(model => model.firstName)</td></tr>
<tr><td>@Html.DisplayNameFor(model => model.lastName)</td><td>@Html.DisplayFor(model => model.lastName)</td></tr>
<tr><td>@Html.DisplayNameFor(model => model.email)</td><td>@Html.DisplayFor(model => model.email)</td></tr>
<tr><td>@Html.DisplayNameFor(model => model.phoneNumber)</td><td>@Html.DisplayFor(model => model.phoneNumber)</td></tr>
<tr><td>@Html.DisplayNameFor(model => model.status)</td><td>@Html.DisplayFor(model => model.status)</td></tr>
</table>
<div class="editor-action-btn">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { Class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null, new { Class = "btn btn-default" })
</div>
